<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ML Shop</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      background-color: #0a192f;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      align-content: center;
    "
  >
    <div
      style="
        margin-top: 10%;
        min-width: 40%;
        width: auto;
        height: auto;
        border-radius: 10px;
        background-color: #01d293;
        color: #ffffff;
        padding: 20px;
      "
    >
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
