{% extends 'base.html' %} {% block body %}
<h1>Mask Detection</h1>
<hr />
<p>
  Mask Detection is a web application that detects whether a person is wearing a
  mask or not.
</p>

<form
  action="/mask"
  method="POST"
  enctype="multipart/form-data"
  style="margin-top: 4%; display: flex; flex-direction: column; font-size: larger;"
>
  <div style="display: flex; flex-direction: row; align-items: center; gap: 10px">
    <p style="font-weight: 600;">Upload image:</p>
    <input type="file" name="image" accept="image/*" />
  </div>
  <button
    type="submit"
    style="
      margin-top: 3%;
      background-color: #3498db;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    "
  >
    Submit
  </button>
</form>
{% endblock %}
